@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/Roboto Mono.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    image-rendering: pixelated;
    background-color: rgb(30, 30, 30);
}