/*Font Loading*/

@font-face {
    font-family: 'Roboto Mono Thin';
    src: url('Fonts/Roboto Mono.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto Mono Light';
    src: url('Fonts/Roboto Mono.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Mono Regular';
    src: url('Fonts/Roboto Mono.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto Mono Bold';
    src: url('Fonts/Roboto Mono.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

/*Game Screen Styling*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    position: absolute;
    right: 0px;
    image-rendering: crisp-edges;
    background-color: rgb(20, 20, 20);
}

/*Side Bar Content Styling*/

input[type="checkbox"] {
    position: relative;
    appearance: none;
    background-color: transparent;
    margin: 0px;
    margin-right: 4px;
    padding: 0px;
    top: 2px;
    font: inherit;
    outline: none;
    color: white;
    width: 18px;
    height: 18px;
    border: 1.5px solid currentColor;
    display: inline-block;
    align-items: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    margin: 1.5px;
    padding: 0px;
    transform: scale(0);
    transform-origin: center;
    background-color: white;
    display: block;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    opacity: 0.5;
}

.setting-container {
    white-space: no-wrap;
    overflow-x: auto;
    vertical-align: center;
    margin-bottom: -20px;
}

.setting {
    font-family: 'Roboto Mono Thin';
    color: white;
    display: inline-block;
    vertical-align: center;
}

#side-bar {
    position: absolute;
    padding: 0px;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 100%;
    background-color: rgb(22, 22, 22);
    border-right: 1.5px solid white;
}

#title-container {
    position: relative;
    left: 22.5px;
    top: 25px;
    width: 350px;
    height: 75px;
    text-align: center;
    vertical-align: center;
    border: 1.5px solid white;
}

#title {
    position: relative;
    top: -5px;
    font-family: 'Roboto Mono Thin';
    color: white;
}

#settings-container {
    position: relative;
    left: 22.5px;
    top: 30px;
    width: 300px;
    height: 75px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.setting-title {
    position: relative;
    font-family: 'Roboto Mono Thin';
    color: white;
    margin-bottom:0px;
}

#game-speed-input {
    position: relative;
    display: inline-block;
    width: 50px;
    margin-left: 0px;
    vertical-align: center;
    background: transparent;
    color: white;
    border: None;
    font-size: 19px;
    border-bottom: 1.5px solid white;
    padding-bottom: 0px;
    font-family: 'Roboto Mono Light';
}

.setting-indent {
    position: relative;
    left: 25px;
}